{:paths ["src" "test"]
 :tasks {test {:task (load-file "run_tests.clj")}}
 :deps {com.etzhayyim/kotoba-datom
        {:git/url "https://github.com/etzhayyim/com-etzhayyim-kotoba-datom.git"
         :git/sha "3c4b3b92234e59ba285119fd8b2ca4c2ee172ff8"}
        com.etzhayyim/moyai-ledger
        {:git/url "https://github.com/etzhayyim/com-etzhayyim-moyai-ledger.git"
         :git/sha "e379b5b84c29d219750828954610ae572702a28b"}
        com.etzhayyim/social-publication
        {:git/url "https://github.com/etzhayyim/com-etzhayyim-social-publication.git"
         :git/sha "e8127d0661284b1c12ce1b216c84b5ed2db619ab"}}}
